<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">
</head>
<body ng-app="PeaceMakerApp" ng-cloak>

<div ng-controller="HomeController" layout="column" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
            <md-content>
                <md-list>
                    <md-list-item ng-repeat="item in sideMenus">
                        <div class="md-list-item-text" ng-click="toggleLeft()">
                            <h3>{{item.title}}</h3>
                        </div>
                        <md-divider inset></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content flex>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                        <md-icon class="material-icons md-18" ng-click="toggleLeft()">menu</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <div layout-padding>
                <md-card>
                    <img src="img/urbanhill_logo.jpg" class="md-card-image" alt="Washed Out">
                </md-card>
                <md-card layout-align="center center">
                    <md-button class="md-raised md-warn">이달의 행사</md-button>
                    <div class="md-unstyled-image">
                        <img ng-src="img/event_01.jpg" class="md-card-image" style="position: relative;">
                    </div>
                </md-card>
            </div>
        </md-content>
    </section>
</div>

<script src="/node_modules/angular/angular.js"></script>
<script src="/node_modules/angular-aria/angular-aria.js"></script>
<script src="/node_modules/angular-animate/angular-animate.js"></script>
<script src="/node_modules/angular-material/angular-material.js"></script>
<script src="/js/script.js"></script>
</body>
</html>